html, body {
    margin: 0;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgba(117, 200, 248, 0.267);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgba(117, 200, 248, 0.267);
    min-height: 150px;
}
.content {
    background-color:rgba(242, 252, 132, 0.199);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgba(117, 200, 248, 0.267);
    min-height: 150px;
}